{% extends 'base.html' %}

{% block content %}

{% $bdd = new PDO('mysql:host=localhost;dbname=vtc;charset=utf8;port=3306', 'root', ''); %}
{% $request = "SELECT * FROM vehicule"; %}
{% $response = $bdd->query($request); %}
{% $voiture = $response->fetchAll(PDO::FETCH_ASSOC); %}

<table>
    <tr>
        <th>id</th>
        <th>Marque</th>
        <th>Mod&#232le</th>
        <th>Couleur</th>
        <th>Immatriculation</th>
    </tr>
    {% foreach $vehicule as $voiture %}
    <tr>
        <td>{{$voiture.id_constructeur}}</td>
        <td>{{$voiture.marque}}</td>
        <td>{{$voiture.modele}}</td>
        <td>{{$voiture.couleur}}</td>
        <td>{{$voiture.immatriculation}}</td>
    </tr>
    {% endforeach %}
</table>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <form action="{{ base_path ~ '/vehicule}}" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="">Marque</label>
                        <input type="text" name="marque" id="">
                    </div>

                    <div class="form-group">
                        <label for="">Mod&#232le</label>
                        <input type="text" name="modele" id="">
                    </div>

                    <div class="form-group">
                        <label for="">Couleur</label>
                        <input type="text" name="couleur" id="">
                    </div>

                    <div class="form-group">
                        <label for="">Immatriculation</label>
                        <input type="text" name="immatriculation" id="">
                    </div>

                    <div class="form-group">
                        <input type="button" value="Ajouter ce v&#233hicule" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}