<!doctype html>
<html lang="fr">

<head>
    <title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="{{ assets ~ '/css/app.css' }}">
</head>

<!-- Ca sert à rien y a rien qui marche -->

<header>

    <nav>
        <a href="{{ base_path ~ '/views/assocation_vehicule_conducteur' }}">Association</a>
        <a href="{{ base_path ~ '/views/conducteur' }}">Conducteur</a>
        <a href="{{ base_path ~ '/views/vehicule' }}">Véhicule</a>
    </nav>

</header>

<body>
    {% block content %}{% endblock %}
</body>

<script src="{{ assets ~ '/js/app.js' }}"></script>
</html>